.card_design {
    border-radius: 500px 500px 24px 24px;
    background: #FFF;
    box-shadow: 0 2px 12.2px 3px rgba(0, 0, 0, 0.13);
    margin: 1rem;
    height: 93%;
}

.image_area {
    width: 100%;
}

.image {
    aspect-ratio: 1 / 1;
}

.left_arrow,
.right_arrow {
    position: absolute;
    top: 105%;
}

.left_arrow {
    left: 47%;
}

.right_arrow {
    right: 47%;
}

@media (max-width: 1280px) {
    .left_arrow {
        left: 45%;
    }

    .right_arrow {
        right: 45%;
    }
}

@media (max-width: 768px) {
    .left_arrow {
        left: 43%;
    }

    .right_arrow {
        right: 43%;
    }
}

@media (max-width: 550px) {
    .left_arrow {
        left: 41%;
    }

    .right_arrow {
        right: 41%;
    }
}

@media (max-width: 400px) {
    .left_arrow {
        left: 39%;
    }

    .right_arrow {
        right: 39%;
    }
}