.background_design {
    background-color: #052A4D;
    background-image: url(../../../assets/images/home_cta_bg.png);
    background-position: center;
    height: 240px;
}

.plate_design {
    height: 360px;
    width: 360px;
    right: 2rem;
    top: -25%;
}

.main_text {
    font-size: 1.8rem;
}

@media screen and (max-width: 1024px) {
    .plate_design {
        height: 260px;
        width: 260px;
        top: -2%;
    }

    .main_text {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 768px) {
    .plate_design {
        display: none;
    }

    .background_design {
        height: 100%;
    }

    .main_text {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 460px) {
    .main_text {
        font-size: 1.3rem;
    }
}