.background_design {
    background-image: url(../../../assets/images/sub_banner_bg.png);
    height: 320px;
    background-color: #051B31;
    background-position: center;
}

@media (max-width: 768px) {
    .background_design {
        height: 260px;
    }
}