.sidebar_bg {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.side_main_category {
    background: #03488D;
    background: -webkit-linear-gradient(180deg, rgba(3, 72, 141, 1) 0%, rgba(1, 33, 65, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(3, 72, 141, 1) 0%, rgba(1, 33, 65, 1) 100%);
    background: linear-gradient(180deg, rgba(3, 72, 141, 1) 0%, rgba(1, 33, 65, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03488D", endColorstr="#012141", GradientType=0);
}

.side_main_category_before {
    position: relative;
    bottom: -0.5px;
    width: 25px;
    height: 25px;
    background-color: #03488c;
    clip-path: polygon(53% 17%, 43% 26%, 31% 38%, 21% 50%, 14% 61%, 7% 74%, 0 90%, 0 0, 87% 0, 67% 8%);
    transform: rotateX(180deg);
}

.side_main_category_after {
    position: relative;
    top: -0.5px;
    width: 25px;
    height: 25px;
    background-color: #012142;
    clip-path: polygon(53% 17%, 43% 26%, 31% 38%, 21% 50%, 14% 61%, 7% 74%, 0 90%, 0 0, 87% 0, 67% 8%);
}