.details_dark {
    background: linear-gradient(180deg, #244f78c4 0%, #0f2c47ec 100%);
    position: relative;
    z-index: 10;
}

.details_light {
    background: linear-gradient(180deg, #fff8f3ef 0%, #dacabff3 100%);
    position: relative;
    z-index: 10;
}

.card_image {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.anchor {
    top: 0;
    right: 20%;
    width: 260px;
}