.embla {
    overflow: hidden;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
    border-radius: 2rem;
    border: 8px solid #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.embla__container {
    display: flex;
}

.embla__slide {
    position: relative;
    flex: 0 0 100%;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.embla__slide.is-selected {
    opacity: 1;
    z-index: 1;
}

.embla__slide__img {
    display: block;
    width: 100%;
    height: auto;
}