@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Variables */
:root {
  --primary-color: #0E467D;
  --primary-dark-color: #072f55;
  --secondary-color: #4E79A2;
  --radius: 0.625rem;
  --footer-text: #E58D52;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);


  /* Fonts */
  --font-inter: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --font-quicksand: "Quicksand", system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

.font-quicksand {
  font-family: var(--font-quicksand) !important;
}

body {
  position: relative;
  height: 100%;
}

body::before {
  content: "";
  position: absolute;
  background-image: url(../assets/images/body_bg.png);
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: 10%;
  background-repeat: repeat;
  background-position: center;
  z-index: -1;
}

.container {
  padding-right: .5rem;
  padding-left: .5rem;
}

@media (min-width: 96rem) {
  .container {
    max-width: 86rem !important;
  }
}

@media (min-width: 400px) {
  .container {
    padding-right: .6rem;
    padding-left: .6rem;
  }
}

@media screen and (max-width: 900px) {
  body::before {
    background-size: 30%;
  }
}

@media screen and (max-width: 700px) {
  body::before {
    background-size: 40%;
  }
}

@media screen and (max-width: 500px) {
  body::before {
    background-size: 50%;
  }
}

/* Primary */
.border-color-primary {
  border-color: var(--primary-color);
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-primary:hover {
  color: var(--primary-dark-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

/* Primary Dark */
.border-color-primary-dark {
  border-color: var(--primary-dark-color);
}

.color-primary-dark {
  color: var(--primary-dark-color);
}

.bg-primary-dark {
  background-color: var(--primary-dark-color);
}

.inner_shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.38) inset;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-slide-infinite {
  animation: slide 20s linear infinite;
  will-change: transform;
  opacity: 0.1;
}

.footer-text-color {
  color: var(--footer-text);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Custom */
.scroll-to-top {
  z-index: 500 !important;
  background-color: #0C3C6A !important;
  padding: 5px !important;
  border-radius: 10% 30% !important;
  box-shadow: none !important;
  bottom: 90px !important;
}

@media (max-width: 600px) {
  .scroll-to-top {
    bottom: 80px !important;
    right: 24px !important;
  }
}

.scroll-to-top>svg {
  fill: #fff !important;
}

.f-html {
  padding: 0 !important;
}

.bg_design_sidebar {
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='324' height='324' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23C0E3FF' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23A6B8F1'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

@media screen and (min-width: 1024px) {
  .liquidGlass-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  }

  .liquidGlass-effect {
    position: absolute;
    border-radius: 22px 0 0 22px;
    z-index: 0;
    inset: 0;
    backdrop-filter: blur(10px);
    filter: url(#glass-distortion);
    overflow: hidden;
  }

  .liquidGlass-tint {
    z-index: 1;
    border-radius: 22px 0 0 22px;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.13);
  }

  .liquidGlass-shine {
    position: absolute;
    border-radius: 22px 0 0 22px;
    inset: 0;
    z-index: 2;
    overflow: hidden;
    box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.288),
      inset -1px -1px 8px 0px rgba(255, 255, 255, 0.5);
  }
}

.ql-toolbar.ql-snow {
  border-radius: 10px 10px 0 0;
  background-color: #efefef;
}

.ql-container.ql-snow {
  border-radius: 0 0 10px 10px;
  min-height: 150px;
  max-height: 400px;
  overflow-y: auto;
}

.m-0 {
  margin: 0 !important;
}

.text_white {
  color: #fff !important;
}