.card_area {
    border-radius: 30px 0;
    box-shadow: 0 0 27px 0px rgb(0 0 0 / 14%);
}

.card_icon {
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
}

.card_icon svg {
    width: 70px;
    height: 70px;
}

.card_area h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
}

.card_area p {
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 1025px) {
    .card_area {
        position: relative;
        overflow: hidden;
    }

    .card_icon {
        position: absolute;
        left: 10%;
        bottom: 5%;
        transform: scale(1.2);
        opacity: 0.2;
    }
}

@media screen and (max-width: 600px) {
    .card_icon {
        opacity: 0.1;
    }

    .card_area h2 {
        font-weight: 600;
    }

    .all_cards .card_area:nth-child(1) h2,
    .all_cards .card_area:nth-child(3) h2 {
        color: #1c398e
    }

    .all_cards .card_area:nth-child(2) h2 {
        color: #432004
    }
}