.overlay_design {
    background-color: #00000062;
    transform: translateY(100%);
    transition: all ease-in-out 0.5s;
    gap: 0;
}

.card_top_area:hover .overlay_design {
    gap: 3rem;
    transform: translateY(0%);
    transition: all ease-in-out 0.5s;
}

.card_top_area {
    transition: all ease-in-out 0.5s;
}

.card_top_area:hover {
    transform: translateY(-1rem);
    transition: all ease-in-out 0.5s;
}

.blog_hr_line {
    position: relative;
}

.blog_hr_line::before {
    position: absolute;
    left: 0;
    top: 40%;
    width: calc(50% - 16px);
    height: 1px;
    content: '';
    background-color: #4488c9;
}

.blog_hr_line::after {
    position: absolute;
    right: 0;
    top: 40%;
    width: calc(50% - 16px);
    height: 1px;
    content: '';
    background-color: #4488c9;
}